.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/katy-foundation-header-2.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 222px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 56px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}.u-section-2 {
  background-image: url("images/trh2.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 599px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0 40px;
}

.u-section-2 .u-image-1 {
  object-position: 100% 100%;
  height: 443px;
  width: 502px;
  margin: 0 28px 0 auto;
}

.u-section-2 .u-text-1 {
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 500;
  margin-right: auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 40px;
}

.u-section-2 .u-text-2 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  font-size: 3rem;
  margin: 206px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 44px auto 0 0;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 100%;
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 476px;
    width: 439px;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 494px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 273px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 28.32% 50%;
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 391px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 25px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    order: 1;
  }

  .u-section-2 .u-image-1 {
    height: 511px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 322px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
}.u-section-3 {
  background-image: url("images/trh3.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-1 {
  padding: 50px 40px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  font-size: 2.8125rem;
  margin: 230px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 28px 0 0;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 28px auto 0 0;
  padding: 10px 62px 10px 61px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 599px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 0 0 20px;
}

.u-section-3 .u-image-1 {
  object-position: 100% 100%;
  height: 469px;
  width: 473px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: uppercase;
  font-weight: 500;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 50% 100%;
    min-height: 494px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-image-1 {
    height: 446px;
    width: 450px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 417px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 30px 25px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-layout-cell-2 {
    background-position: 28.32% 50%;
    min-height: 582px;
  }

  .u-section-3 .u-image-1 {
    height: 357px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    order: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.8125rem;
  }

  .u-section-3 .u-layout-cell-2 {
    order: 1;
    min-height: 539px;
  }

  .u-section-3 .u-image-1 {
    height: 469px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-1 {
    height: 302px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}