.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/katy-foundation-header-2.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  margin: 644px 321px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 121px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 437px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 337px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 24px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 27px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 337px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 24px 0 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 27px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 337px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 24px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 27px auto 0;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 337px;
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 24px 0 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-weight: 400;
  border-style: none;
  margin: 27px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 278px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 278px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 207px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1323px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 1158px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 27px 30px 29px;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 131px 0 0 6px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 3px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 500;
  margin: -663px 7px 0 0;
}

.u-section-3 .u-icon-1 {
  width: 36px;
  height: 42px;
  font-size: 1.2em;
}

.u-section-3 .u-text-4 {
  font-weight: 500;
  margin: 108px 6px 0 0;
}

.u-section-3 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-5 {
  font-weight: 500;
  margin: 89px 6px 0 0;
}

.u-section-3 .u-icon-3 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-6 {
  font-weight: 500;
  margin: 21px 6px 0 0;
}

.u-section-3 .u-icon-4 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1158px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 24px 30px 30px;
}

.u-section-3 .u-shape-1 {
  width: 102px;
  height: 102px;
  background-image: none;
  margin: 65px auto 0 131px;
}

.u-section-3 .u-text-7 {
  font-weight: 500;
  margin: 90px 3px 0;
}

.u-section-3 .u-icon-5 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: -37px 0 0 6px;
}

.u-section-3 .u-text-9 {
  font-weight: 500;
  margin: -385px 6px 0 0;
}

.u-section-3 .u-icon-6 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-10 {
  font-weight: 500;
  margin: 91px 6px 0 0;
}

.u-section-3 .u-icon-7 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-11 {
  font-weight: 500;
  margin: 26px 6px 0 0;
}

.u-section-3 .u-icon-8 {
  color: rgb(17, 17, 17) !important;
}

.u-section-3 .u-text-12 {
  font-weight: 500;
  margin: 91px 6px 0 0;
}

.u-section-3 .u-icon-9 {
  color: rgb(17, 17, 17) !important;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1207px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 28px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 95px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 102px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1207px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 27px;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 3px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-right: 24px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: -38px;
    margin-right: 24px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -415px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 86px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 27px;
    margin-right: 24px;
    margin-left: 3px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: 123px;
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1623px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -977px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 135px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 152px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-top: 54px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1623px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 106px;
    margin-right: 27px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -511px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 119px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 60px;
    margin-right: 27px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-top: 152px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1096px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -632px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 106px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 91px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 816px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -382px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 85px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 26px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2572px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1476px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    margin-top: -871px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 131px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 131px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 68px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 979px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-shape-1 {
    margin-left: 10px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 109px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -30px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -501px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 121px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 68px;
    margin-left: 10px;
  }

  .u-section-3 .u-text-12 {
    margin-top: 162px;
    margin-right: 10px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1086px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 1007px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-shape-1 {
  width: 354px;
  height: 15px;
  margin: 40px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 40px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 30px 0 0;
}

.u-section-4 .u-image-1 {
  width: 255px;
  height: 465px;
  margin: -9px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 948px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 13px 30px 30px;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 187px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 830px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 782px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-shape-1 {
    width: 300px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 933px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 861px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-5 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 112px 0 0;
}

.u-section-5 .u-shape-1 {
  width: 120px;
  height: 120px;
  background-image: none;
  margin: -46px 131px 0 auto;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  margin: -29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 710px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 1180px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 142px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -213px;
    margin-right: 22px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 138px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 294px;
}

.u-section-6 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  width: 340px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-2 {
  width: 340px;
  font-weight: 600;
  margin: 25px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 25px auto 60px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}